ion-avatar {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: block;
  
    img {
      border-radius: 50%;
    }
  }
  
  h2, p {
    text-align: center;
    margin-top: 16px;
  }
  
  ion-button {
    margin-top: 32px;
  }