<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <h2>{{ userData.name }}</h2>
    <p>{{ userData.email }}</p>

    <ion-button (click)="logout()" expand="block" color="danger">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      Logout
    </ion-button>
  </div>
</ion-content>